<% include partials/header.ejs %>


<div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="abTitle">About</h1>
        <h2 class="abSubtitle">
            This is a full fledged blogging platform created to practice RESTFUL Routing,
            user authentication, and other technologies such as Passport, Express and wrapped
            all under NodeJS.
        </h2>
    </div>
</div>


<% include partials/footer.ejs %>